body {
    width: 500px;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.message {
    color: red;
    font-size: 14px;
}

table {
    width: 100%;
}
th {
    background-color: #ccd2d3;
    padding: 5px 5px 5px 5px;
    border: 1px solid;
}
td {
    padding: 0px 5px 0px 5px;
}
td.footer {
    background-color: #ccd2d3;
    border: 1px solid;
    padding: 5px;
}
tr.odd {
    background-color: #edf4f5;
}
tr.even {
    background-color: #dae0e1;
}
